{% extends "layout/basic.html" %}

{% load django_bootstrap5 %}


{% block title %}Добавление объявления{% endblock %}

{% block content %}
<h2>Добавление объявления</h2>


    {% if form.is_multipart %}
        <form method="post" enctype="multipart/form-data">
    {% else %}
        <form method="post">
    {% endif %}
        {% csrf_token %}

{#        {% bootstrap_form form exclude='price, rubric' %}#}
{#        {% bootstrap_button form size = 'md' %}#}
{#            {% bootstrap_form succes_css_class='Someclass'  %}#}

{#        {% bootstrap_form form succes_css_class='has-succes' error_css_class='has-error' %}#}

{#            {% bootstrap_form form wrapper_class = 'SOMECLASS' %}#}

{#            {% bootstsrap_form form layout='vertical' %}#}
{#            {% bootstrap_form form layout='horizontal' %}#}
{#            {% bootstrap_form form layout='floating' %}#}


        {% bootstrap_form form %}
        {% bootstrap_button 'Добавить'%}


    </form>

{% endblock %}